// import compass
@import "compass/utilities";
@import "compass/css3";

$palette: ( // configure matching variables in palette.php
  c-green:      #26A65A,
  c-lime:       #7ACE2F,
  c-fuchsia:    #CD2F61,
  c-orange:     #E75735,
);

* { 
   @include box-sizing(border-box);
}